Selector{
  property:value;
  
body{
  font-family:Arial,sans-serif;
  colour:#333;
  background-color:#lightblue;
  margin:0;
  padding:0;
  line-height:1.7;
header{
  background-color:#lightblue;
  color:white;
  padding:20px;
  text-align:center;
}
header h1{
  margin:0;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 10px;
}

nav a:hover{
  text-decoration:underline;
}

main{
  padding:20px;
  max-width:800px;
  margin:0 auto;
}

main img{
  max-width:100%
  height:auto;
  display:block;
  margin:20px 0;
}

footer{
  background-color:#lightblue;
  color:white;
  text-align:center;
  padding:10px;
  position:fixed;
  bottom:0;
  width:100%;
}
  
  
